#root {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
}

.App {
  text-align: center;
  color: white;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Dark {
  color: gainsboro;
  background-color: #282c34;
}

.Dark input[type="text"], textarea {
  background-color: #1f2125;
  color: gainsboro;
}

input[type="text"], textarea {
  padding-left: 3px;
}

input::placeholder {
  padding-left: 2px;
}

.Dark input::placeholder {
  color: rgb(177, 175, 175);
}

/* BECAUSE WEBKIT AUTOFILL IS FULL OF SHIT*/
.Dark input[type="text"]:-webkit-autofill {
  -webkit-text-fill-color: gainsboro;
  -webkit-box-shadow: 0 0 0px 1000px #1f2125 inset;
}

.Light {
  color: darkblue;
  background-color: gainsboro;
}

.Light input[type="text"], textarea {
  background-color: rgb(235, 235, 235);
}

.Light input::placeholder {
  color: rgb(119, 119, 192);
}

.Light input[type="text"]:-webkit-autofill {
  -webkit-text-fill-color: darkblue;
  -webkit-box-shadow: 0 0 0px 1000px rgb(235, 235, 235) inset;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 25px;
  padding-top: 50px;
}

.App-header-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin)/2;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.SearchBar {
  display: flex;
  width: 740px;
  margin-left: auto;
  margin-right: auto;
}

.inputForm {
  width: 90%;
  display: flex;
  justify-content: space-between;
  height: 18px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.inputformline {
  border: solid 1px;
}

.Dark .inputformline {
  border-color: #535458;
}


.Light .inputformline {
  border-color: #c2c3c7;
  border-width: 1px;
}


:focus-visible {
  border-width: 2px;
  outline: none;
}

.Table {
  font-size: 14px;
  /* color: white; */
  border-color: darkgray;
  border: 2px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 10px;
  min-width: 720px;
}

.DownloadButton {
  display: block;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  background-color: #c0cfe9;
  border: solid 1px;
  color: #6876be;
}

.DownloadButton:hover {
  background: #d7e0f0;
}

.DownloadButton:active {
  background: #9bb3db;
  border-color: #324fe2;
}

.Dark .DownloadButton {
  background: gainsboro;
}

.Dark .DownloadButton:hover {
  background: rgb(243, 240, 240);
}

.Dark .DownloadButton:active {
  background: #9bb3db;
  border-color: #0a29c4;
}

.CancelDownloadButton {
  display: block;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  background-color: #c0cfe9;
  border: solid 1px;
  color: crimson;
}

.CancelDownloadButton:hover {
  background: #d7e0f0;
}

.CancelDownloadButton:active {
  background: #9bb3db;
  border-color: crimson;
}

.Dark .CancelDownloadButton {
  background: gainsboro;
}

.Dark .CancelDownloadButton:hover {
  background: rgb(243, 240, 240);
}

.Dark .CancelDownloadButton:active {
  background: #9bb3db;
  border-color: #0a29c4;
}

.Dark .DownloadButton:focus-visible {
  box-shadow: 0 0 5px pink;
}

.Light .DownloadButton:focus-visible {
  box-shadow: 0 0 5px rgb(138, 195, 214);
}

.Dark .DownloadButton:disabled {
  background: #bdbdbd;
}

.Dark .CancelDownloadButton:disabled {
  background: #bdbdbd;
}

.Light .DownloadButton:disabled {
  background: #8bbcdf;
}

.Light .CancelDownloadButton:disabled {
  background: #9bb1c1;
  color: darkslateblue;
}

.Light .DownloadButton:focus-visible {
  box-shadow: 0 0 5px rgb(138, 195, 214);
}

.Dark .CancelDownloadButton:focus-visible {
  box-shadow: 0 0 5px pink;
}

.Light .CancelDownloadButton:focus-visible {
  box-shadow: 0 0 5px rgb(138, 195, 214);;
}

.checkmark {
  margin-top: auto;
  margin-bottom: auto;
  height: 25px;
  width: 25px;
  background-color: aliceblue;
}

.checkmark:hover {
  background-color: beige;
}

.inline-buttons {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #343942;
}

input:focus + .slider {
  box-shadow: 0 0 1px #343942;
}

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

.slider:after {
  background-color: black;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.uselessButton {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  width: 80px;
  height: 23px;
  border-radius: 5px;
  border: solid 1px;
  box-sizing: border-box;
  appearance: none;
}

.userGreeting {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  margin-top: auto;
  margin-bottom: auto;
  padding: 5px;
}

.userImage {
  height: 27px;
  width: 27px;
  object-fit: cover;
  border-radius: 50%;
  margin: -5px 5px -5px -10px;
  vertical-align: -8%;;
  padding-top: -px;
}

.logout {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  border: solid 1px;
  text-decoration: none;
}

.privatePlaylist {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  border: solid 1px;
  text-decoration: none;
}

.userleft:hover .logout {
  display: block;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transform: translate(5px, 25px);
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  opacity: 1;
  visibility: visible;
  transition: 200ms;
  border-radius: 15px;
}

.userleft:hover .privatePlaylist {
  display: block;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transform: translate(5px, 35px);
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  opacity: 1;
  visibility: visible;
  transition: 200ms;
  border-radius: 15px;
}

.userleft {
  display: flex;
  flex-direction: row;
  align-content: center;
  vertical-align: 50%;
  position: absolute;
  height: 32px;
  width: fit-content;
  top: 5px;
  left: 0%;
  padding-left: 10px;
  padding-right: 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  font-size: 16px;
  padding-top: 5px;
  vertical-align: 100%;
}

.Login {
  position: absolute;
  height: 25px;
  width: fit-content;
  top: 5px;
  left: 0%;
  padding-left: 10px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 3px;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: 100%;
  background-color: rgb(243, 240, 240);
  border-color: rgb(202, 200, 200);
}

.Dark .userleft {
  background-color: #2f3033;
  border-color: #535458;
  color: gainsboro
}

.Dark .userleft:hover {
  background-color: #444549;
  border-color: #535458;
}
 
.Dark .Login {
  background-color: #2f3033;
  border-color: #535458;
  color: gainsboro;
  text-decoration: none;
}

.Dark .Login:hover {
  background-color: #444549;
  border-color: #535458;
  color: gainsboro;
  text-decoration: none;
}

.Light .userleft {
  background-color: rgb(243, 240, 240);
  border-color: rgb(202, 200, 200);
  color: darkblue
}

.Light .userleft:hover {
  background-color: rgb(253, 250, 250);
  border-color: rgb(202, 200, 200);
}

.Light .Login {
  background-color: rgb(243, 240, 240);
  border-color: rgb(202, 200, 200);
  color: darkblue;
  font-style: normal;
  text-decoration: none;
}
.Light .Login:hover {
  background-color: rgb(243, 240, 240);
  border-color: rgb(202, 200, 200);
  color: darkblue;
  font-style: normal;
  text-decoration: none;
}

.userright {
  position: absolute;
  top: 5px;
  right: 0%;
  padding-right: 10px;
}

.Dark .uselessButton {
  background-color: #5d6168;
  color: gainsboro;
  border-color: #9c9da3;
}

.Dark .uselessButton:hover {
  background-color: #777c85;
}

.Dark .uselessButton:active {
  background-color: #777c85;
  border-color: #b5b6bb;
  border-width: 2px;
}

.Dark .logout {
  background-color: #5d6168;
  border-color: #535458;
  color: gainsboro
}

.Dark .logout:hover {
  background-color: #777c85;
}

.Dark.logout:active {
  border-color: #b5b6bb;
  border-width: 2px;
}

.Light .uselessButton {
  background-color: rgb(235, 235, 235);;
  border-color: rgb(202, 200, 200);
  color: darkblue
}

.Light .uselessButton:hover {
  background-color: rgb(255, 255, 255);
  border-color: rgb(202, 200, 200);
}

.Light .uselessButton:active {
  border-color: rgb(129, 128, 128);
  border-width: 2px
}

.Light .logout {
  background-color: rgb(235, 235, 235);
  border-color: rgb(202, 200, 200);
  color: darkblue
}

.Light .logout:hover {
  background-color: rgb(255, 255, 255);;
}

.symbolTranslate {
  pointer-events: none;
  padding-left: 45px;
}

.symbolTranslate {
  transform: translate(0px, -21px);
}

.Light .symbolTranslate {
  transform: translate(-38px, -21px);
  color: gainsboro
}

.Dark .symbolTranslate {
  transform: translate(-4px, -21px);
  color: #343942
}

.arrowdown {
  margin-left: 2px;
}

.PublicDataArrow {
  margin-left: 3px;
  transform: translate(0px, 5px);
}

.Preview {
  /* visibility: hidden; */
  opacity: 0.7;
  font-size: 20px;
  color: gainsboro;
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  transform: translate(4px, 4px);
}

.Preview:hover {
  /* visibility: visible; */
  /* display: flex; */
  opacity: 1;
}

.PreviewPause {
  /* visibility: hidden; */
  opacity: 0.7;
  font-size: 20px;
  color: gainsboro;
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  transform: translate(3px, 4px);
}

.PreviewPause:hover {
  /* visibility: visible; */
  /* display: flex; */
  opacity: 1;
}

.PreviewNone {
  visibility: hidden;
}

.FAQ {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
}

.FAQ:hover {
  box-shadow: 0 0 7px rgb(29, 231, 29);
}

.FAQpulse {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
}

.Dark .FAQpulse {
  animation-name: pulseFaq;
  animation-iteration-count: infinite;
  animation-duration: 800ms;
}

.Light .FAQpulse {
  animation-name: lightpulseFaq;
  animation-iteration-count: infinite;
  animation-duration: 800ms;
}

@keyframes pulseFaq {
  0% {
    box-shadow: 0 0 2px crimson;
  }

  30% {
    box-shadow: 0 0 4px crimson;
  }

  50% {
    box-shadow: 0 0 8px crimson;
  }
  70% {
    box-shadow: 0 0 15px crimson;
  }
  90% {
    box-shadow: 0 0 15px crimson;
  }
  100% {
    box-shadow: 0 0 6px crimson;
  }
}
@keyframes lightpulseFaq {
  0% {
    box-shadow: 0 0 1px crimson;
  }

  30% {
    box-shadow: 0 0 2px crimson;
  }

  50% {
    box-shadow: 0 0 4px crimson;
  }
  70% {
    box-shadow: 0 0 10px crimson;
  }
  90% {
    box-shadow: 0 0 10px crimson;
  }
  100% {
    box-shadow: 0 0 3px crimson;
  }
}

.infoBack {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.infobox {
  position: absolute;
  top: 11%;
  left: 20%;
  width: 460px;
  height: fit-content;
  padding-bottom: 5px;
  border-radius: 20px;
  visibility: visible;
  animation-name: fadeIn;
  animation-duration: 500ms;
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1);
    opacity: 0.6;
  }
  80% {
    transform: scale(0.95);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.Dark .infobox {
  background-color: #373a42;
  text-decoration: none;
  color: gainsboro;
  box-shadow: 0 0 10px gainsboro;
}

.link {
  text-decoration: none;
}

.Dark .link {
  color: rgb(124, 187, 206);
}

.Light .link {
  color: rgb(15, 179, 230);
}

.Light .infobox {
  background-color: rgb(236, 231, 231);
  text-decoration: none;
  color: darkblue;
  box-shadow: 0 0 10px darkblue;
}

.infoBody {
  position: absolute;
  top: 60px;
  left: 20%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 10px;
  margin-bottom: 10px;
}

.infotext {
  display: flex;
  flex-direction: row;
  text-align: justify;
  padding-bottom: 10px;
  margin: 0 10px;
}

.Dark .uselessButton:focus-visible,
.Dark input[type="text"]:focus-visible {
  box-shadow: 0 0 5px pink;
}

.Light .uselessButton:focus-visible,
.Light input[type="text"]:focus-visible {
  box-shadow: 0 0 5px rgb(138, 195, 214);
}

.album_image {
  height: 30px;
  border-radius: 10%;
}

.ClientIDField {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px;
}

.Dark .ClientIDField {
  border-color: #535458;
}


.Light .ClientIDField {
  border-color: #c2c3c7;
  border-width: 1px;
}

.loginButton {
  border: solid 1px;
  text-decoration: none;
  font-size: 14px;
  padding: 0px 20px 4px 20px;
}