#root {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
}

.App {
  text-align: center;
  color: white;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Dark {
  color: gainsboro;
  background-color: #282c34;
}

.Dark input[type="text"], textarea {
  background-color: #1f2125;
  color: gainsboro;
}

.Dark input::placeholder {
  color: rgb(177, 175, 175);
}

/* BECAUSE WEBKIT AUTOFILL IS FULL OF SHIT*/
.Dark input[type="text"]:-webkit-autofill {
  -webkit-text-fill-color: gainsboro;
  -webkit-box-shadow: 0 0 0px 1000px #1f2125 inset;
}

.Light {
  color: darkblue;
  background-color: gainsboro;
}

.Light input[type="text"], textarea {
  background-color: rgb(235, 235, 235);
}

.Light input::placeholder {
  color: rgb(119, 119, 192);
}

.Light input[type="text"]:-webkit-autofill {
  -webkit-text-fill-color: darkblue;
  -webkit-box-shadow: 0 0 0px 1000px rgb(235, 235, 235) inset;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  padding-top: 50px;
}

.App-header-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin)/2;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.SearchBar {
  display: flex;
  width: 740px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.inputForm {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.Table {
  font-size: 14px;
  /* color: white; */
  border-color: darkgray;
  border: 2px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 10px;
  min-width: 720px;
}

.DownloadButton {
  display: block;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(rgb(118, 121, 146), green, blue);
}

.DownloadButton:hover {
  background-color: rgb(rgb(96, 139, 96), green, blue);
}

.checkmark {
  margin-top: auto;
  margin-bottom: auto;
  height: 25px;
  width: 25px;
  background-color: aliceblue;
}

.checkmark:hover {
  background-color: beige;
}

.inline-buttons {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.CancelDownloadButton {
  display: block;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: crimson;
}

.CancelDownloadButton:hover {
  background-color: brown;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #343942;
}

input:focus + .slider {
  box-shadow: 0 0 1px #343942;
}

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

.slider:after {
  background-color: black;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.uselessButton {
  margin-top: auto;
  margin-bottom: auto;
  width: 100px;
  height: 20px;
}

.userGreeting {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  margin-top: auto;
  margin-bottom: auto;
  padding: 5px;
}

.userImage {
  height: 25px;
  width: 25px;
  object-fit: cover;
  border-radius: 50%;
  margin: auto 10px auto 5px;
}

ul {
  list-style-type: none;
  margin-block: 0;
  padding-inline-start: 0;

}

li>a {
  text-decoration: none;
  color: darkgrey;
}

.logout {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

ul li:hover .logout {
  display: block;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transform: translate(5px, 5px);
  width: 100px;
  height: 30px;
  opacity: 1;
  visibility: visible;
  transition: 200ms;
}

.userleft {
  position: absolute;
  top: 0%;
  left: 0%;
  padding-left: 10px;
}

.userright {
  position: absolute;
  top: 0%;
  right: 0%;
  padding-right: 10px;
}

.Dark .uselessButton {
  background-color: #5d6168;
}

.Dark .uselessButton:hover {
  background-color: #777c85;
}

.Dark .logout {
  background-color: #5d6168;
}

.Dark .logout:hover {
  background-color: #777c85;
}

.Light .uselessButton {
  background-color: rgb(235, 235, 235);;
}

.Light .uselessButton:hover {
  background-color: rgb(255, 255, 255);;
}

.Light .logout {
  background-color: rgb(235, 235, 235);;
}

.Light .logout:hover {
  background-color: rgb(255, 255, 255);;
}